<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301445556403-m08ikicplgjmpb808jpo3iekuetu088c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301445556403-m08ikicplgjmpb808jpo3iekuetu088c</string>
	<key>API_KEY</key>
	<string>AIzaSyAlqa1E91yUwfY-lhXpzkBIYoMyGEoP1HE</string>
	<key>GCM_SENDER_ID</key>
	<string>301445556403</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.efex.efexMobileRn</string>
	<key>PROJECT_ID</key>
	<string>efexwarehouse-f8b60</string>
	<key>STORAGE_BUCKET</key>
	<string>efexwarehouse-f8b60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301445556403:ios:5c69813baa93602f0268c6</string>
</dict>
</plist>